<div class="table-responsive-sm">
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="th-sm">Region</th>
        <th class="th-sm">Country</th>
        <th class="th-sm">Item Type</th>
        <th class="th-sm">Sales Channel</th>
        <th class="th-sm">Order Priority</th>
        <th class="th-sm">Order Date</th>
        <th class="th-sm">Order ID</th>
        <th class="th-sm">Ship Date</th>
        <th class="th-sm">Units Sold</th>
        <th class="th-sm">Unit Price</th>
        <th class="th-sm">Unit Cost</th>
        <th class="th-sm">Total Revenue</th>
        <th class="th-sm">Total Cost</th>
        <th class="th-sm">Total Profit</th>
        <th class="th-sm">NRIC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sub-Saharan Africa</td>
        <td>South Africa</td>
        <td>Fruits</td>
        <td>Offline</td>
        <td>M</td>
        <td>7/27/2012</td>
        <td>443368995</td>
        <td>7/28/2012</td>
        <td>1593</td>
        <td>9.33</td>
        <td>6.92</td>
        <td>14862.69</td>
        <td>311023.56</td>
        <td>3839.13</td>
        <td>G2998635W</td>
      </tr>
      <tr>
        <td>Sub-Saharan Africa</td>
        <td>South Africa</td>
        <td>Fruits</td>
        <td>Offline</td>
        <td>M</td>
        <td>7/27/2012</td>
        <td>443368995</td>
        <td>7/28/2012</td>
        <td>1593</td>
        <td>9.33</td>
        <td>6.92</td>
        <td>14862.69</td>
        <td>311023.56</td>
        <td>3839.13</td>
        <td>G2998635W</td>
      </tr>
    </tbody>
  </table>
</div>
